/**
        Author: SpringHack - springhack@live.cn
        Last modified: 2016-05-11 21:55:07
        Filename: theme/default/css.css
        Description: Created by SpringHack using vim automatically.
**/
body {
	background-image: url(theme/default/md_back.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
body, div, img {
	padding: 0px;
 	border: 0px;
	margin: 0px;
	font-family: "苹方", "Microsoft YaHei", "Comic Sans MS", "幼圆", "黑体", sans-serif;
}
.navigator a {
	color: #FFF;
}
#progress {
	width: 100%;
	height: 5px;
	border-radius: 2px;
	border: 1px solid #AAA;
	text-align: left;
}
#now {
	width: 0px;
	height: 5px;
	background-color: #55FF55;
}
