/**
        Author: SpringHack - springhack@live.cn
        Last modified: 2016-05-11 21:55:07
        Filename: theme/default/css.css
        Description: Created by SpringHack using vim automatically.
**/
body {
	background-image: url(theme/ACG/acg_back.jpg);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-size: 100% auto;
}
body, div, img {
	padding: 0px;
 	border: 0px;
	margin: 0px;
	font-family: "苹方", "Microsoft YaHei", "Comic Sans MS", "幼圆", "黑体", sans-serif;
}
center.mui-container.mui-panel {
	opacity: 0.9;
}
.navigator {
	color: #FFF;
	background: url(theme/ACG/title_ft.png) 0 0 no-repeat, url(theme/ACG/title_bg.jpg) repeat-x;
	background-size: auto 100%, auto 100%;
	color: #3366FF;
	/**
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1px);
	**/
}
.navigator a {
	color: #FFF;
	opacity: 0.5;
}
#progress {
	width: 100%;
	height: 5px;
	border-radius: 2px;
	border: 1px solid #AAA;
	text-align: left;
}
#now {
	width: 0px;
	height: 5px;
	background-color: #55FF55;
}
