@charset "utf-8";
/* CSS Document */

body, img, div, a {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: "Comic Sans MS", "幼圆", "黑体", sans-serif;
	text-decoration: none;
	color: #FFF;
}
body {
	background-color: #1D2024;
}
a {
	color: #FFF;
}
a:hover {
	color: #999;;
}
a:link {
	color: #FFF;
}
input[type='text'], input[type='password'] {
	width: 83%;
	color: #666;
	padding: 5px;
}
input[type='submit'] {
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	color: #FFF;
	background-color: #5090C1;
	border: 4px #5090C1 solid;
}
input[type='submit']:hover {
	background-color: #60A0D1;
}
#login, #register {
	background-color: #393939;
	padding: 5px;
	width: 400px;
}
#up {
	padding: 30px;
	padding-top: 10px;
	background-color: #FFF;
	color: #333;
}
#down {
	height: 25px;
	border-top: 2px #393939 solid;
	padding: 10px;
	background-color: #5090C1;
}